<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='styles.css' type='text/css'>
    <title>Chess Game</title>
</head>
<body>
    <h1>Hello World</h1>
    <div class="container">

        {{ board.initializeBoard }}
        {{ board.drawBoard }}

    </div>
</body>
</html>
