<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='styles.css' type='text/css'>
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/scripts.js"></script>
    <title>Chess Game</title>
</head>
<body>
    <h1>Chess Game</h1>
    <div class="container chess-board">
        {{ board[0].drawBoard }}
    </div>

    <form id="attack-form" action="/attack" method="post">
        <input class='btn' id='this_r' name='this_r'></input>
        <input class='btn' id='this_c' name='this_c'></input>
        <input class='btn' id='move_atck_r' name='move_atck_r'></input>
        <input class='btn' id='move_atck_c' name='move_atck_c'></input>
      <button type='submit' class='btn btn-danger'>Attack</button>
    </form>

</body>
</html>
