<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='styles.css' type='text/css'>
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/scripts.js"></script>
    <title>Chess Game</title>
</head>
<body>
    <h1>Chess Game</h1>
    <div class="container chess-board">
        {{ board.initializeBoard }}
        {{ board.drawBoard }}
    </div>
</body>
</html>
