<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Chess Game</title>
</head>
<body>
    <h1>Hello World</h1>
    <div class="container">
        <table>
        </table>
    </div>
</body>
</html>
