<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='styles.css' type='text/css'>
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/scripts.js"></script>
    <title>Chess Game</title>
</head>
<body>
    <h1>Chess Game</h1>
    <div class="container chess-board">
        {{ board[0].drawBoard }}
    </div>

    <form id="attack-form" action="/attack" method="post">
        <input class='btn' id='clicked-x' name='x-pos'></input>
        <input class='btn' id='clicked-y' name='y-pos'></input>
      <button type='submit' class='btn btn-danger'>Attack</button>
    </form>


    <h4>if you click "Attack" button, you will jump to /attack page and Queen[7][3] attacks the Queen[0][3]</h4>
    <h4>This result the Queen[0][3]'s live change tp false and remove from the position[0][3]</h4>
    <h4>If you click "Attack" button again, nothing happens because class Queen's method canAttack returns false and nothing happens</h4>
</body>
</html>
