<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Chess Move Evaluater!</title>
</head>
<body>
    <div class="container">
        <!-- put output here -->
        {% if result == true %}
            <p>True</p>
        {% endif %}

        {% if result == false %}
            <p>False</p>
        {% endif %}


    </div>
</body>
</html>
