td {
    text-align: center;
    border: 2px solid black;
    width: 60px;
    height: 60px;
    font-weight: bold;
    font-size:2rem;
}

tr:nth-child(even) td:nth-child(odd){
    background-color: #d1be94;
}

tr:nth-child(odd) td:nth-child(even){
    background-color: #d1be94;
}

#clicked-x, #clicked-y {
  display: none;
}
